@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

header {
    background-color: #ffffff;
    position:fixed;
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px 0 #030303;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: #030303;
    text-transform: uppercase;
    letter-spacing: 2px;
}


#menu {
    text-align: right;
    font-family: 'Lato', sans-serif;
    list-style: none;
    letter-spacing: 2px;
}

nav {
    position:absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

#navbar {
    display:none;
}

#navbar:checked~nav {
    display: block;
}
#dropdown {
    display: flex;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

main {
    background-color: olive;
    flex: 1 0 auto;
    margin-top: 40px;
}

footer {
    background-color: #cccccc;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    box-shadow:  2px 0 0 2px  #030303;
}

footer>h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    color: #181818;
}

#social-networks {
text-align: center;
padding: 20px 0;
display: flex;
justify-content: space-evenly;
list-style-type: none;
}

#social-networks i {
padding: 0 5%;
color: #181818;
}

@media screen and (min-width:768px) {

    header a {
    padding-right: 5px;
    }
    
    nav{
        display:block;
        position: relative;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    .navbar-label{
        display:none;
    }

}