@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
/*Header*/
header {
    background-color: #cccccc;
    position:fixed;
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px 0 #030303;
    z-index: 1;
    
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: #030303;
    text-transform: uppercase;
    letter-spacing: 2px;
}


#menu {
    text-align: right;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    letter-spacing: 2px;
    background-color: #cccccc;
}
#menu li {
    margin-bottom: 0.5em;
}


nav {
    position: absolute;
    width: 100%;
    left: 0%;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

#navbar {
    display:none;
}

#navbar:checked~nav {
    display: block;
}
#dropdown {
    display: flex;
    
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
/*Index main*/
main {
    flex: 1 0 auto;
    margin-top: 40px;
    background-color: rgba(247, 221, 165, 0.8);
}

#hero_image{
    height: 650px;
    width: 100%;
    background: url("../images/Hero_Image.webp") no-repeat center center/cover;
    position: relative;
}

#hero_text {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-top: 25%;
    background-color: rgba(247, 221, 165, 0.5);
    min-height: 250px;
    width: 75%
}
#Text_Home {
    text-align: center;
    font-size: large;
    margin: 5px 10px 0 10px;
    border: solid;
    border-color: #030303;
}

#links {
    column-count: 2;
}

#paw_straight {
    background: url("../images/Paw line straight.webp") no-repeat center center/cover;
    width: 100px;
    height: 300px;
    margin-left: 40%;
    display: flex;
  
}

#dogs {
    background: url("../images/dog link.webp") no-repeat left center/cover;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 10px;
}

#cats {
    background: url("../images/cats link.webp") no-repeat right center/cover;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    margin-left: 35%;
    margin-bottom: 10px;
}


/*Dogs*/

#Australian_shepherd {
    background: url("../images/Australian Shepherd.webp") no-repeat center center/cover;
    position:flex;
}

/*Footer*/
footer {
    background-color: #cccccc;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    box-shadow:  2px 0 0 2px  #030303;
}

footer>h3 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    color: #181818;
}

#social-networks {
text-align: center;
padding: 20px 0;
display: flex;
justify-content: space-evenly;
list-style-type: none;
}

#social-networks i {
padding: 0 ;
color: #181818;
}

/*Tablet*/
@media screen and (min-width:768px) {

    header a {
    padding-right: 5px;
    }
    
    nav{
        display:block;
        position: relative;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    .navbar-label{
        display:none;
    }

}
/*Desktop*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}