@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
/*Header*/
header {
    background-color: #cccccc;
    position:fixed;
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px 0 #030303;
    z-index: 1;
    
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: #030303;
    text-transform: uppercase;
    letter-spacing: 2px;
}


#menu {
    text-align: right;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    letter-spacing: 2px;
    background-color: #cccccc;
    width: 40%;
}
#menu li {
    margin-bottom: 0.5em;
}


nav {
    position: absolute;
    width: 100%;
    left: 0%;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

#navbar {
    display:none;
}

#navbar:checked~nav {
    display: block;
}

#dropdown {
    display: flex; 
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
/*Index main*/
main {
    flex: 1 0 auto;
    margin-top: 40px;
}

#hero_image{
    height: 650px;
    width: 100%;
    background: url("../images/Hero_Image.webp") no-repeat center center/cover;
    position: relative;
}

#hero_text {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: rgba(247, 221, 165, 0.5);
    background-size: 250px;
    width: 75%
}
#Text_Home {
    background-color: #cccccc;
    text-align: center;
    font-size: large;
    margin: 5px 10px 0 10px;
    border: solid;
    border-color: #030303;
}

#links {
    column-count: 2;
}

#paw_straight {
    background: url("../images/Paw line straight.webp") no-repeat center center/cover;
    width: 100px;
    height: 300px;
    margin-left: 40vw;
    display: flex;
  
}

#dogs {
    background: url("../images/dog link.webp") no-repeat left center/cover;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    max-width: 100%;
}

#cats {
    background: url("../images/cats link.webp") no-repeat right center/cover;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    max-width: 100%;
}


/*Dogs*/

.container_dogs {
background-color: #cccccc;
border: 3px solid #000000;
border-radius: 5px;
padding: 20px 40px 40px;
margin: 5px 0;
}

.Picture_dogs{
    width: 100%;
    display: block
}

.text_dogs{
    text-align: center;
}

/*Cats*/


.container_cats {
    background-color: #cccccc;
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 20px 40px 40px;
    margin: 5px 0;
}

.Picture_cats {
    width: 100%;
    display: block;
}

.text_cats {
    text-align: center;
}

/*Gallery*/

#pictures img {
    width: 100%;
    line-height: 1em;
    border-radius: 5px;
    
}

#pictures {
    column-count: 1;
}

/*Survey*/
#main_survey {
    background: url("../images/Rename.webp") no-repeat center center/cover;
}

#survey {
    text-align: center;
}

#text_fields {
    margin-top: 10px;
    border: 3px solid #000000;
    padding: 0 5px 5px 5px;
}

.radio_buttons {
    border: 3px solid #000000;
    padding: 0 5px 5px 5px;
}

.join_button {
    margin-top: 15px;
}

/*Footer*/
footer {
    background-color: #cccccc;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    box-shadow:  2px 0 0 2px  #000000;
}

footer>h3 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    color: #000000
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
padding: 0;
color: #181818;
}


@media screen and (min-width: 576px) {
    #pictures {
        column-count: 2;
        column-gap: 0;
    }
}

/*Tablet*/
@media screen and (min-width:768px) {

    header a {
    padding-right: 5px;
    }
    
    nav{
        display: block;
        position: relative;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    .navbar-label{
        display:none;
    }

    #cats {
        min-height: 300px;
    }

    #dogs {
         min-height: 300px;
    }

    #pictures {
        column-count: 3;
    }

}


/*Desktop*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #pictures {
        column-count: 4;
    }

    .container_cats {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
    }

    .Picture_cats {
        max-width: 800px;
    }

    .container_dogs {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
    }
        
    .Picture_dogs {
        max-width: 800px;
    }

}

@media screen and (min-width: 1440px) {
    #cats{
        min-height: 500px;
    }

    #dogs{
        min-height:500px;
    }
}